<div class="row">
  <div class="alert alert-info" role="alert" *ngIf="!user">
    <h4 class="alert-heading">Loading!</h4>
    <p>User data loading</p>
  </div>

  <div class="container" *ngIf="user">
    <div class="row">
      <div class="col-md-6">

        <div class="panel panel-info">
          <div class="panel-heading">
            User Profile
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12 col-sm-8">
                <h2>{{user.firstName}} {{user.lastName}}</h2>
                <p><strong>Occupation: </strong> {{user.occupation}} </p>
                <p><strong>Date of Birth: </strong> {{user.dateOfBirth}} </p>
                
              </div><!--/col-->
              <div class="col-xs-12 col-sm-4 text-center">
                <img src="https://t4.ftcdn.net/jpg/01/16/06/45/240_F_116064582_KlXENacGmdt4xl8H6fQRYfSZLntLNKSX.jpg" alt="" class="center-block img-circle img-responsive">
               
              </div><!--/col-->

              
            </div><!--/row-->
          </div><!--/panel-body-->
        </div><!--/panel-->



      </div>
    </div>
  </div>
</div>
