﻿@using GetBEE.TechnicalAssignment.DataTransferObject.Authentication
@model RegisterViewModel

<div class="container body-content">
    <h2>Register</h2>
    <partial name="_ValidationSummary" />
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="Account" asp-action="Register" method="post">
                <h4>Create a new account.</h4>
                <hr>
                <input type="hidden" asp-for="ReturnUrl" />
                <div class="form-group">
                    <label for="Username">Username</label>
                    <input class="form-control" placeholder="Username" asp-for="UserName" autofocus>
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input class="form-control" placeholder="Email" asp-for="Email" autofocus>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input type="password" class="form-control" placeholder="Password" asp-for="Password" autofocus>
                </div>
                <div class="form-group">
                    <label for="ConfirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" placeholder="Confirm Password" asp-for="ConfirmPassword" autofocus>
                </div>
                <button type="submit" class="btn btn-default">Register</button>
            </form>
        </div>
    </div>
</div> 