<p *ngIf="!isAuthenticated"><em>Loading...</em></p>
<div class='main-nav' *ngIf="isAuthenticated">
  <div class='navbar navbar-inverse'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class='navbar-brand' [routerLink]='["/"]'>GetBEE.TechnicalAssignment.UI</a>
    </div>
    <div class='clearfix'></div>
    <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
      <ul class='nav navbar-nav'>
        <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]='["/"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-dashboard'></span> Dashboard
          </a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/user-search"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-education'></span> User Search
          </a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
          <a (click)="signout()">
            <span class='glyphicon glyphicon-user'></span> Signout {{name}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
