<div class="row">
  <div class="alert alert-info" role="alert" *ngIf="!userDetails || userDetails.length <= 0">
    <h4 class="alert-heading">Loading!</h4>
    <p>User data loading</p>
  </div>
  <div class="container col-sm-10" *ngIf="userDetails && userDetails.length > 0">
    <h4>
      User Search
    </h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Occupation</th>
          <th scope="col">Date Of Birth</th>
          <th scope="col">Is Active</th>
          <th scope="col">View</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userDetails">
          <th>{{user.firstName}}</th>
          <td>{{user.lastName}}</td>
          <td>{{user.occupation}}</td>
          <td>{{user.dateOfBirth}}</td>
          <td>{{user.isActive}}</td>
          <td>
            <a [routerLink]="['/user-profile', user.userId]">
              <span class='glyphicon glyphicon-user'></span> View
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
