<div class="row">
  <p *ngIf="!user"><em>Loading...</em></p>
  <div class="container col-sm-10" *ngIf="user">
    <div class="alert alert-success" role="alert" *ngIf="userSaved">
      <h4 class="alert-heading">Success!</h4>
      <p>User details saved</p>
    </div>
    <form class="form-horizontal" role="form">
      <h2>User Detail</h2>
      <div class="form-group">
        <label for="firstName" class="col-sm-3 control-label">First Name</label>
        <div class="col-sm-9">
          <input type="text" id="firstName" name="firstName" [(ngModel)]="user.firstName" placeholder="First Name" class="form-control" autofocus>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName" class="col-sm-3 control-label">Last Name</label>
        <div class="col-sm-9">
          <input type="text" id="lastName" name="lastName" [(ngModel)]="user.lastName" placeholder="Last Name" class="form-control" autofocus>
        </div>
      </div>

      <div class="form-group">
        <label for="birthDate" class="col-sm-3 control-label">Date of Birth</label>
        <div class="col-sm-9">
          <input type="date" id="birthDate" name="birthDate" [(ngModel)]="user.dateOfBirth" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="phoneNumber" class="col-sm-3 control-label">Occupation </label>
        <div class="col-sm-9">
          <input type="text" [(ngModel)]="user.occupation" id="occupation" name="occupation" placeholder="Occupation" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="Height" class="col-sm-3 control-label">Description </label>
        <div class="col-sm-9">
          <textarea id="description" name="description" placeholder="Please enter a little description" [(ngModel)]="user.userDescription" cols="8" rows="4" class="form-control">
          </textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3">Active</label>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-4">
              <label class="radio-inline">
                <input type="radio" id="trueRadio" name="trueRadio" value="true" [(ngModel)]="user.isActive">Yes
              </label>
            </div>
            <div class="col-sm-4">
              <label class="radio-inline">
                <input type="radio" id="falseRadio" name="falseRadio" value="false" [(ngModel)]="user.isActive">No
              </label>
            </div>
          </div>
        </div>
      </div> <!-- /.form-group -->
      <button type="submit" class="btn btn-primary btn-block" (click)="saveUser()">Save</button>
    </form> <!-- /form -->
  </div>
</div>
